<template>
<q-page class="flex flex-center">
    <q-form
      @submit="onSubmit"

      class="q-gutter-md"
    >
<h3>Register Page</h3>
 <q-input v-model="user.name" type="text"  :rules="[ val => val && val.length > 0 || 'Please type something']" label="Name" />
  <q-input v-model="user.email" type="email"  :rules="[ val => val && val.length > 0 || 'Please type your email' , isValidEmail]" label="Email" />
    <q-input v-model="user.password" label="Password"  :rules="[ val => val && val.length > 6 || 'Password Length must be more than 6']" type="password" />
     <q-btn label="Submit" type="submit" color="primary"/>
    </q-form>
  </q-page>
</template>

<script>
export default {
data(){
  return {
    user :{
     name:null,
    email:null,
    password:null
    }

  }
}

,
methods:{
  onSubmit(e){
e.preventDefault();
this.$store.dispatch('auth/Register',this.user)
  },
  isValidEmail (val) {
    const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
    return emailPattern.test(val) || 'Invalid email';
  }
}
}
</script>

<style>

</style>
