<template>
  <div class="q-pa-md q-gutter-sm">
    <q-btn label="Add Student" color="primary" @click="icon = true" />


    <q-dialog v-model="icon">
      <q-card>
      <q-form

      @submit="AddStudent"
      class="q-gutter-md"
    >
<h5>Add Student</h5>
 <q-input v-model="student.name"  type="text"    label="Name" />
  <q-input  v-model="student.description"   type="text"   label="description" />

     <q-btn label="Add" type="submit" color="primary" v-close-popup/>

    </q-form>
      </q-card>
    </q-dialog>


  </div>
</template>
<script>
import { ref } from 'vue'
import { useQuasar } from 'quasar'
export default {
  data(){
return {
  student:{
    id:Math.random()*1000000,
    name:null,
    description:null
  }
}
  },
  setup () {
     const $q = useQuasar()
    return {
      icon: ref(false),
       showNotif () {
         $q.notify({
          message: 'Student Added Successfully',

          color: 'primary'
        })
      }
    }
  },
  methods:{
    AddStudent(e){
e.preventDefault();
this.$store.dispatch('student/AddStudent',this.student)

//reset





    }
  }
}
</script>
<style>

</style>
