<template>
  <tr>
         <td class="text-left">{{student.name}}</td>
          <td class="text-right">{{student.description}}</td>
          <td class="text-right">  <q-btn push color="primary" label="Update" @click="OpenEdit(student)" /></td>
     <td class="text-right">    <q-btn color="deep-orange" glossy label="Remove" @click="RemoveStudent(student.id)" /></td>
   <q-dialog v-model="icons">
      <q-card>
    <q-form

@submit="Edit"
      class="q-gutter-md"
    >
<h5>Edit Student</h5>

 <q-input  v-model="stud.name" type="text"    label="Name" />
  <q-input  v-model="stud.description"     type="text"   label="description" />

     <q-btn label="Edit" type="submit" color="primary"  v-close-popup/>
    </q-form>
      </q-card>
      </q-dialog>
  </tr>
</template>

<script>
import { useQuasar } from 'quasar'
import { ref } from 'vue'
export default {
props:{
  student:Object
},
setup () {
     const $q = useQuasar()
    return {
      icons: ref(false),

    }
  },
data(){
return {
stud:{
  id:null,
  name:null,
  description:null
}
}
},
methods :{
  RemoveStudent(id){

this.$store.dispatch('student/removeFromStudents',id)
  },
  OpenEdit(student){

   this.stud.id=this.student.id;
    this.stud.name=this.student.name;
     this.stud.description=this.student.description;
     this.icons=true;

  },
  Edit(e){
    e.preventDefault();
     this.$store.dispatch('student/EditStudent',this.stud)
  }
}
}
</script>

<style>

</style>
