<template>
  <div class="q-pa-md">
    <add-student/>
    <q-markup-table dark class="bg-indigo-8">
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-right">Description</th>
          <th class="text-right">Update</th>
          <th class="text-right">Delete</th>

        </tr>
      </thead>
      <tbody>
<single-student v-for="student in this.$store.state.student.students" :key="student.id" :student="student" />

      </tbody>
    </q-markup-table>
  </div>
</template>

<script>
import { defineComponent } from 'vue';
import { mapActions, mapGetters } from 'vuex';
import AddStudent from '../../components/Student/AddStudent.vue';
 import SingleStudent from '../../components/Student/SingleStudent.vue'


export default defineComponent({
  data(){
return {
students:null
}
  },
  components: { SingleStudent, AddStudent },
  name: 'PageIndex',
created(){

},
  methods:{
   // ...mapActions(['GetStudets'])
  },
  computed:{

  },
  watch: {


  },
})
</script>
