<template>
<transition
    enter-active-class="animated slideInRight"
    leave-active-class="animated slideOutLeft">
  <router-view />
  </transition>
</template>
<script>
import { defineComponent } from 'vue';
require('vue2-animate/dist/vue2-animate.min.css')
export default defineComponent({
  name: 'App'
})
</script>
