<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Quasar App
        </q-toolbar-title>

        <div>Quasar v</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Essential Links
        </q-item-label>

<q-item-section> <q-item-label  class="text-grey-8">    <router-link  to="/">Students</router-link> </q-item-label> </q-item-section><br/>
     <q-item-section> <q-item-label  class="text-grey-8">    <router-link v-if="!this.$store.state.auth.isLoggedIn" to="/login">Login</router-link> </q-item-label> </q-item-section><br/>
      <q-item-section> <q-item-label  class="text-grey-8">   <router-link v-if="!this.$store.state.auth.isLoggedIn" to="/register">Register</router-link></q-item-label> </q-item-section>
        <q-btn v-if="this.$store.state.auth.isLoggedIn" color="deep-orange" glossy label="Logout" @click="Logout" />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksList = [
  {
    title: 'Login',
    caption: 'quasar.dev',
    icon: 'school',
    link: 'login'
  },
  {
    title: 'Github',
    caption: 'github.com/quasarframework',
    icon: 'code',
    link: 'https://github.com/quasarframework'
  },
  {
    title: 'Discord Chat Channel',
    caption: 'chat.quasar.dev',
    icon: 'chat',
    link: 'https://chat.quasar.dev'
  }
];

import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'MainLayout',

  components: {

  },

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  },
  methods:{
    Logout(){
      this.$store.dispatch('auth/Logout')
    }
  }
})
</script>
